* {
    box-sizing: border-box;
}


body { 
    background-color: #f4f6f8;
    font-family: 'Roboto', sans-serif;
    
}

h1 {
    text-align: center;
}

.info {
    text-align: center;
    
}
input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 6px;
}

.box {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 6px;
   
}